body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.center-align {
    color: #448aff
}

main {
    flex: 1 0 auto;
}

#trip-length {
    text-align: center;
}

#destination {
    text-align: center;
}

.header {
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
}

#explore {
    background-color: #4db6ac;
}

.input-field label {
    color: #4db6ac;
}

.home {
    margin-left: 20px;
}

#description {
    color: white;
}

#map {
    width: 450px;
    height: 300px;
    display: none;
}

.page-footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.location {
    color: white;
}
